html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: system-ui;
}


body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: #232627;
}

body::-webkit-scrollbar-thumb {
  background: #29323c;
  border-radius: 2px;
}

body::webkit-scrollbar-thumb:hover {
  background: #485563;
}



body {
  background: #2b3138;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  overflow-x: hidden;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.nav {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}





.input2 {
  height: 30px;
  width: 30px;
  appearance: none;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
}
.input2:hover {
  cursor: pointer;
}
.tri-state-toggle {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  border-radius: 50px;
}
#one {
  opacity: 1;
}














.search-container {
  margin-top: 5px;
  margin-bottom: 3px;
  padding: 6px;
  font-size: 25px;
  border: none;
  width: 70%;
  border-radius: 6px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=text] {
  color: #ffffff;
  background-color: #232627;
  margin-top: 2px;
  margin-bottom: 4px;
  padding: 6px;
  font-size: 25px;
  border: none;
  width: 80%;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.search-container button {
  cursor: pointer;
  background-color: #3B3B3B;
  border: none;
  padding: 6px;
  border-radius: 5px;
  display: inline-block;
  color: white;
}

.search-container button>i {
  font-size: 156%;
}

.selectedGenre {
  text-decoration: underline;
  background-color: #141414 !important;
}

#genreList>div.selectedGenre:hover {
  background-color: #ae3d3d;
}

#genreList>div:hover {
  background-color: #57ae3d;
}

#genreList {
  background-color: transparent;
  display: inline-block;
  max-height: 120px;
  overflow-x: auto;
}

#genreList>div {
  font-family: system-ui;

  transition: 0.8s;

  display: inline-block;
  padding: 7px;
  margin: 3px;
  background-color: #232627;
  border-radius: 4px;
  color: white;
}


.results {
  width: 100%;
  font-size: 0;
  text-align: center;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
}

.results>div:hover {
  transform: scale(1.1);
}

.results>div {
  transition: all .2s ease-in-out;
  background-color: rgb(112, 112, 121);
  width: calc(20vh);
  height: calc(20vh*1.5);
  display: inline-block;
  margin: 5px;
  border: none;

  font-size: 2rem;

  box-shadow: -2px 3px 24px -5px rgba(15, 15, 15, 0.56);
  -webkit-box-shadow: -2px 3px 24px -5px rgba(15, 15, 15, 0.56);
  -moz-box-shadow: -2px 3px 24px -5px rgba(15, 15, 15, 0.56);

  box-shadow: 1px 0px 38px 10px rgba(54, 54, 54, 0.32) inset;
  -webkit-box-shadow: 1px 0px 38px 10px rgba(54, 54, 54, 0.32) inset;
  -moz-box-shadow: 1px 0px 38px 10px rgba(54, 54, 54, 0.32) inset;

  position: relative;


}

.results>div>span {
  position: absolute;
  z-index: 0;
  left: 0px;
  text-align: center;
  vertical-align: middle;
}

.detailsPanel {
  position: absolute;
  background-color: #232627;
  width: 90%;
  height: max-content;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  overflow-y: auto;
}

.dimDetails {
  background-color: #383838ef;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

body.viewport-lg {
  position: absolute;
}

.titleDiv {
  float: right;
  background-color: #2b3138;
  width: calc(100% - 30vh - 10px);
  text-align: center;
}

.ratingDiv {
  float: right;
  background-color: #2b3138;
  width: calc(100% - 30vh - 10px);
  text-align: center;
}

.posterStuff {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  display: inline-block;
  width: 90%;
}

#posterImage {
  width: 30vh;
}

#showdetails>.overview>span{

}

#showdetails>.overview {
  text-align: left;
  margin-left: 5%;
  margin-right: 20%;
  margin-bottom: 15px;
  border: none;
  padding: 5px;
}


.showButtons {
  float: right;
  width: 15%;
  margin-right: 2.5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.showButtons > button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-family: system-ui;
  font-weight: 900;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.showButtons > button:not(:first-child) {
  margin-top: 5px;
}

.showButtons > button:hover {
  cursor:pointer;
  opacity: 0.9;
}

#request {
  background-color: #71AABC;
}

#watch {
  background-color: #bc7186;
}

.ratings {
  color: gold;
  font-size: 1.5rem;
  float: right;
  text-align: center;
}

.detailsPanel>a {
  z-index: 11;
  position: absolute;
}

#showdetails {
  width: 100%;
  /* overflow-y: auto; */
  white-space: initial;
  border-style: solid none none none;
  padding-top: 10px;
}

.results>div>img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0px;
}

@media screen and (min-width: 600px) {
  .genreWrapper::-webkit-scrollbar {
    width: 14px;
  }
  
  .genreWrapper::-webkit-scrollbar-track {
    background: #232627;
  }
  
  .genreWrapper::-webkit-scrollbar-thumb {
    background: #29323c;
    border-radius: 2px;
  }
}

@media screen and (max-width: 600px) {
  .search-container {
    width: 100%;
  }

  .genreWrapper {
    white-space: nowrap;
    overflow-x: scroll;
  }

  .results>div {
    width: calc(1)vh;
    height: calc(1*1.5)vh;
  }

  .detailsPanel {
    width: 100%;
    height: 100%;
  }

  .detailsPanel {
    background-color: #232627fa;
  }

  .dimDetails {
    background-color: #23262700;
  }

  .detailsPanel>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 20%;
  }

  #posterImage {
    width: 100%;
  }

  .titleDiv {
    width: calc(100%);
  }
  .ratingDiv {
    width: calc(100%);
  }

  .showButtons {
    float: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .posterStuff {
    margin-bottom: 0;
  }

  #showdetails>.overview {
    margin-right: 5%;
  }

  .genreWrapper::-webkit-scrollbar {

  }

}

.xbutton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  z-index: 10;
  color: white;
  font-weight: bolder;
}

.xbutton:before, .xbutton:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.xbutton:before {
  transform: rotate(45deg);
}
.xbutton:after {
  transform: rotate(-45deg);
}

.xbutton:hover {
  cursor:pointer;
  color: rgb(223, 6, 49);
}



.genreWrapper {
  text-align: center;
  margin-bottom: 0px;
  white-space: nowrap;
    overflow-x: scroll;
}



.exactCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  font-weight: apple-ui;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #272727;
  color: #3B3B3B;
  text-align: center;
  z-index: 5;
  padding: 5px;
}

.footer>span>a {
  color: #1a5483;
  text-decoration: none;
}

.footer>span:not(:first-child) {
  margin-left: 15px;
}
